.emails-input {
  background: #ffffff;
  border: 1px solid #c3c2cf;
  border-radius: 4px;
  padding: 8px;
  min-height: 96px;

  &__input {
    width: 100%;
    // background: #f8f8f7;
    font-size: 14px;
    line-height: 1.7;

    &:focus {
      outline: 0;
    }
  }
}
